---
import "../styles/global.css";

interface Props {
    lang: string;
    title: string;
}

const { title, lang } = Astro.props;
---

<!doctype html>
<html lang={lang}>
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />

        <link rel="preconnect" href="https://rsms.me/" crossorigin />

        <link
            rel="preload"
            href="https://rsms.me/inter/inter.css"
            as="style"
            onload="
            this.onload = null; this.rel = 'stylesheet'
            "
        />
        <noscript>
            <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
        </noscript>

        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>

<script lang="js">
let gradientContainer = document.querySelector(".gradient-container");

let currentScreenWidth;
let gradientMoveFromOrigin = false;

gradientContainer.addEventListener("mousemove", (e) => {
    updateGradientPosition(e);
});

function updateGradientPosition(e) {
    currentScreenWidth = window.innerWidth;

    if (currentScreenWidth >= 1024) {
        gradientMoveFromOrigin = true;
        gradientContainer.style.background = `radial-gradient(600px circle at ${e.pageX}px ${e.pageY}px, hsla(274, 100%, 35%, 0.25), transparent 80%)`;
        
    } else if (currentScreenWidth < 1024 && gradientMoveFromOrigin) {
        gradientContainer.style.background = `radial-gradient(600px circle at 0px 0px, hsla(274, 100%, 35%, 0.25), transparent 80%)`;
        gradientContainer.style.backgroundAttachment = "fixed";
        gradientMoveFromOrigin = false;
    }
}
</script>
