---
import BaseLayout from "@/layouts/BaseLayout.astro";
import ArchiveEntry from "@/components/ArchiveEntry.astro";

import {
    getLangFromUrl,
    useTranslations,
    useTranslatedPath,
} from "@/i18n/utils";
import { getCollection } from "astro:content";

// Gestiones de idioma
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const archives = await getCollection("archives", ({ id }) => {
    return id.includes(lang + "/");
});
---

<BaseLayout title="J. Rai">
    <div class="archive-container" transition:animate="slide" transition:name="archive">
        <a href={translatePath("../")} class="archive-back-link">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="archive-arrow"
                aria-hidden="true"
            >
                <path
                    fill-rule="evenodd"
                    d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z"
                    clip-rule="evenodd"></path></svg
            >
             J. Rai
        </a>
        <h1 class="archive-header-title">{t("archive.title")}</h1>
        <table class="archive-table">
            <thead class="archive-table-head">
                <tr>
                    <!-- <th> las columnas de los encabezados -->
                    <th class="archive-entry-head">{t("archive.year")}</th>
                    <th class="archive-entry-head">{t("archive.name")}</th>
                    <th class="archive-entry-head lg-col"
                        >{t("archive.site")}</th
                    >
                    <th class="archive-entry-head lg-col"
                        >{t("archive.techs")}</th
                    >
                    <th class="archive-entry-head sm-col"
                        >{t("archive.link")}</th
                    >
                </tr>
            </thead>
            <tbody>
                {
                    archives
                        .sort((a, b) => {
                            let yearA = a.data.year;
                            let yearB = b.data.year;

                            if (yearA > yearB) {
                                return -1;
                            } else if (yearA < yearB) {
                                return 1;
                            } else {
                                return 0;
                            }
                        })
                        .map((archive) => {
                            return (
                                <ArchiveEntry
                                    year={archive.data.year}
                                    name={archive.data.name}
                                    site={archive.data.site}
                                    techs={archive.data.techs}
                                    href={archive.data.href}
                                    linkname={archive.data.linkname}
                                />
                            );
                        })
                }
            </tbody>
        </table>
    </div>
    <div class="archive-footer">
        <a href={translatePath("/")} class="archive-back-link">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="archive-arrow"
                aria-hidden="true"
            >
                <path
                    fill-rule="evenodd"
                    d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z"
                    clip-rule="evenodd"></path></svg
            >
             J. Rai
        </a>
    </div>
</BaseLayout>

<style>
    .archive-back-link {
        display: inline-flex;
        align-items: center;
        color: var(--hover-link-color);
        line-height: 1.25;
        font-weight: 600;
        margin-bottom: 0.5rem;
    }

    .archive-arrow {
        width: 1rem;
        height: 1rem;
        margin-right: 0.25rem;
        transform: rotate(180deg);
    }

    .archive-header-title {
        letter-spacing: -0.025em;
        font-weight: 700;
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    .archive-table {
        text-align: left;
        border-collapse: collapse;
        width: 100%;
        margin-top: 3rem;
        text-indent: 0;
        border-color: inherit;
    }

    .archive-table-head {
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);

        position: sticky;
        top: 0;
        z-index: 10;

        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;

        border-bottom-width: 1px;
        background-color: hsla(263, 45%, 10%, 0.75);
        border-color: rgba(216, 203, 225, 0.1);
    }

    .archive-entry-head {
        color: var(--main-headline);
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 1.25rem;
        padding-right: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .archive-footer {
        padding-bottom: 6rem
    }

    .sm-col {
        display: none;
    }

    .lg-col {
        display: none;
    }

    @media (min-width: 640px) {
        .archive-header-title {
            font-size: 3rem;
            line-height: 1;
        }

        .project-name {
            display: block;
        }
        .project-name-sm {
            display: none;
        }

        .sm-col {
            display: table-cell;
        }
    }

    @media (min-width: 1024px) {
        .archive-container {
            padding-top: 6rem;
            padding-bottom: 6rem;
        }

        .lg-col {
            display: table-cell;
        }
    }
</style>
