---
interface Props {
    date: string;
    companyName: string;
    companyUrl: string;
    role: string;
    oldRole?: Array<string>;
}

const { date, companyUrl, companyName, role, oldRole } = Astro.props;
---

<li class="mb-12">
    <div class="content-container">
        <div class="content-hover-container"></div>
        <header class="experience-header" aria-label={date}>
            {date}
        </header>
        <div class="content-entry">
            <h3 class="content-heading-text">
                <div>
                    <a
                        href={companyUrl}
                        class="content-title-link"
                        target="_blank"
                        rel="noreferrer"
                        rel="noopener"
                    >
                        <span class="content-link-container"></span>
                        <span
                            >{role} ·
                            <span class="experience-site"
                                >{companyName}
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="currentColor"
                                    class="content-title-icon"
                                    aria-hidden="true"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                                        clip-rule="evenodd"></path></svg
                                >
                            </span>
                        </span>
                    </a>
                    <div class="old-role">
                        {
                            oldRole?.map((role) => {
                                return <div>{role}</div>;
                            })
                        }
                    </div>
                </div>
            </h3>

            <slot name="experience-text" />

            <!-- Links to apps, git repo, etc -->
            <slot name="related-links" />

            <!-- Tech used labels -->
            <slot name="tech-label" />
        </div>
    </div>
</li>

<style>
    .experience-container {
        position: relative;
        display: grid;

        padding-bottom: 0.25rem;

        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 0.15s;
    }

    .experience-header {
        color: var(--secondary-headline-color);
        font-size: 0.75rem;
        font-weight: 600;
        line-height: 1rem;

        letter-spacing: 0.025em;
        text-transform: uppercase;

        z-index: 10;
        margin-bottom: 0.5rem;
        margin-top: 0.25rem;
    }

    .experience-site {
        display: inline-block;
    }

    .old-role {
        color: var(--secondary-headline-color);
    }

    @media (min-width: 640px) {
        .experience-header {
            grid-column: span 2 / span 2;
        }
    }
</style>
