---
import ProjectEntry from "@/components/ProjectEntry.astro";
import RelatedLink from "@/components/RelatedLink.astro";
import TechLabel from "@/components/TechLabel.astro";
import ViewFullLink from "@/components/ViewFullLink.astro";

import { getLangFromUrl, useTranslations } from "@/i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import { getCollection } from "astro:content";
const projects = await getCollection("projects", ({ id }) => {
    return id.includes(lang + "/");
});
---

<section id="projects" class="content">
    <div class="content-title sr-only">
        <h2>{t("nav.projects")}</h2>
    </div>

    <div>
        <ul class="content-list">
            {
                projects.map((project) => {
                    return (
                        <ProjectEntry
                            name={project.data.name}
                            image={project.data.picture}
                            alt={project.data.name}
                            url={project.data.url}
                        >
                            {project.data.description.map((p) => {
                                return (
                                    <p slot="desc" class="project-text">
                                        {p}
                                    </p>
                                );
                            })}

                            <ul
                                slot="related-links"
                                class="lists-related-links"
                                aria-label="Related links"
                            >
                                {project.data.relatedLinks?.map((link) => {
                                    return (
                                        <RelatedLink
                                            iconType={link.iconType}
                                            text={link.text}
                                            href={link.url}
                                        />
                                    );
                                })}
                            </ul>

                            <ul
                                slot="tech-label"
                                class="list-used-tech"
                                aria-label="Technologies Used"
                            >
                                {project.data.tags.map((tag) => {
                                    return <TechLabel text={tag} />;
                                })}
                            </ul>
                        </ProjectEntry>
                    );
                })
            }
        </ul>
        <ViewFullLink
            partialText={t("link.projects.partial")}
            lastWord={t("link.projects.last")}
        />
    </div>
</section>

<style>
    .project-title-link {
        color: var(--main-headline);
        line-height: 1.25;
        font-weight: 500;
        font-size: 1rem;
        align-items: baseline;
        display: inline-flex;
        text-decoration: inherit;
    }

    .project-text {
        line-height: 1.5;
        font-size: 0.875rem;
        margin-top: 0.5rem;
    }

    .project-image {
        color: transparent;
        border-color: var(--image-border);
        border-width: 2px;
        border-radius: 0.25rem;
    }
</style>
